*~
*.elc
*.pyc
/.emacs.d/.smex-items
/.emacs.d/auto-save-list
/.emacs.d/bookmarks
/.emacs.d/cider-history
/.emacs.d/elpa
/.emacs.d/elpy
/.emacs.d/.lsp-session*
/.emacs.d/places
/.emacs.d/projectile*
/.emacs.d/recentf
/.emacs.d/savefile
/.emacs.d/session*
/.emacs.d/tramp
/.emacs.d/transient
/.emacs.d/tmp
/.emacs.d/url/cookies
/.emacs.d/var
.cache
.DS_Store
